<ion-view title='<img class="title-image" src="img/hlc-small.png" />'>
  <ion-content>
    <ion-list > <!-- ajouter : type="list-inset" --> 
      <ion-item class="item-remove-animate item-avatar item-icon-right item-color item-transparent" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h3>{{chat.name}}</h3>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Favori
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
